
body {
    margin: 0;
    font-family: 'AmsiPro-SemiBold';
}

.cabecalho {
    background-color: #696969;
    height: 80px;
    padding: 20px 30px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.img-cabeca{
    margin-top: 10px;
}

.container-img {
    margin-top: 0%;
    display: flex;
    padding: 10px 20px;
}

.menu{
    padding: 10px 50px;
    border-radius: 30px;
    color: white;
    transition: all .5s ease-in-out;
}
.menu:hover{
    transform: scale(1.1);
    color: white;
    font-size: 18px;
    border-radius: 50px;
    background-color: red;
    text-decoration: none;
}


.carrossel {
    display: flex;
    overflow-x: scroll hidden;
    width: 50%;
    height: 400px;
    margin-top: 50px;
    margin-left: 25%;
}

.carrossel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.setas {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: transparent;
}

.seta-esquerda,
.seta-direita {
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}



















.img-rodape{
    margin-left: 5%;
}
/* voltar ao inicio */
.nav-rodape {
    background-color: #696969;
    display: flex;
    height: 100% ;
    text-align: center;
    justify-content: center;
}
/* voltar ao inicio */

/* todo o rodape */
.rodape{
    background-color: #696969;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.container{
    background-color: #696969;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.content{
    display: inline-block;
    width:  32%;
    padding: 40px;
    color: white;
    font-family: 'AmsiPro-SemiBold';
    letter-spacing: 1px;
}


ul {
list-style: none;
}
/* todo o rodape */


.nav-fim {
    background-color: #696969;
    cursor: pointer;
    color: white;
    display: fixed;
    text-align: center;
    margin-top: 10%;
    list-style: none;
}

/* Menu rodape   */
.tabela-menu{
    margin-left: 50px;
}
.menu-rodape{
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 30px;
    color: white;
    margin-left: 100px;
}
/* menu rodape  */


/* Links do rodape (contato, instagram)*/
.info-link {
    text-decoration: none;
    color: white;
    height: 25px;
    margin-top: end;
    padding: 0;
}
/* Links do rodape (contato, instagram)*/
